<mat-card class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="this.stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
        <span>{{ state.name }}</span> |
        <small>Population: {{state.population}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
  <br />
  
  <mat-slide-toggle [checked]="this.stateCtrl.disabled" (change)="this.stateCtrl.disabled ? this.stateCtrl.enable() : this.stateCtrl.disable()">
    Disable Input?
  </mat-slide-toggle>
</mat-card>

<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>
    
    <section class="example-section">
      <mat-checkbox class="example-margin">
        I'm a checkbox
      </mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-card>
<mat-card>
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
  
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-radio-group>
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
</mat-card>

<mat-card class="result">
  <mat-card-content>

    <mat-slider class="example-margin" step="1" min="0" max="100">
    </mat-slider>
  </mat-card-content>
  <mat-card class="result">
    <mat-card-content>
      <section class="example-section">
        <mat-slide-toggle class="example-margin" checked>
          Slide me!
        </mat-slide-toggle>
      </section>
    </mat-card-content>
  </mat-card>
</mat-card>